<?xml version="1.0"?>
<ruleset name="PAR Coding standard" namespace="PAR\CS\Standard">
    <description>The coding standard for PHP Additional Repository packages.</description>

    <file>packages</file>
    <file>src</file>

    <!-- inherit rules from: -->
    <rule ref="PSR2"/>
    <rule ref="PSR12"/>

    <!-- Do not allow the long array notation  -->
    <rule ref="Generic.Arrays.DisallowLongArraySyntax"/>

    <!-- Enforce the declaration of strict_types -->
    <rule ref="Generic.PHP.RequireStrictTypes"/>

    <!-- Do not support error supression -->
    <rule ref="Generic.PHP.NoSilencedErrors"/>

    <!-- Allow newlines before or after an operator -->
    <rule ref="Squiz.WhiteSpace.OperatorSpacing">
        <properties>
            <property name="ignoreNewlines" value="true"/>
        </properties>
    </rule>

    <!-- Do not allow lines with only spaces or multiple lines -->
    <rule ref="Squiz.WhiteSpace.SuperfluousWhitespace">
        <properties>
            <property name="ignoreBlankLines" value="false"/>
        </properties>
    </rule>

    <!-- Do not allow a space after cast -->
    <rule ref="Generic.Formatting.SpaceAfterCast">
        <properties>
            <property name="spacing" value="0"/>
        </properties>
    </rule>

    <!-- Handle complexity -->
    <rule ref="Generic.Metrics.CyclomaticComplexity">
        <properties>
            <property name="complexity" value="10"/>
            <property name="absoluteComplexity" value="15"/>
        </properties>
    </rule>

    <!-- Lines can be 180 chars long, but never show errors -->
    <rule ref="Generic.Files.LineLength">
        <properties>
            <property name="lineLimit" value="180"/>
            <property name="absoluteLineLimit" value="0"/>
        </properties>
    </rule>
</ruleset>
