{% extends 'base.html.twig' %}

{% block content %}
    <div class="container">
        {{ include('components/class-header.html.twig') }}
        {{ include('components/element-header.html.twig') }}
    </div>
    <div class="container-fluid">
        {{ include('components/toc.html.twig') }}

        {# constants, properties, methods #}
    </div>
{% endblock %}
