{% extends 'base.html.twig' %}

{% block content %}
    <div class="container">
        {{ include('components/trait-header.html.twig') }}
        {{ include('components/element-header.html.twig') }}

        {# constants, properties, methods #}
    </div>
{% endblock %}
